#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: rgb(33, 35, 36);
  border : 8px rgb(33, 35, 36);
}

h1 {
  color: white;
}
p {
  color: white;
}

#comment-list {
  list-style-type: none;
}

.comment {
  background-color: rgb(226, 234, 238);
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 800px;
}

.comment span {
  flex-grow: 1;
}